
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using WebMatrix.Data;

@{
    var db = Database.Open("DBConnection");
    var email = "";
    var first = "";
    var last = "";
    var password = "";
    var role = "";
    var id = 0;

    //Runs after user clicks create account
    if (IsPost) {
        email = Request.Form["email"];
        first = Request.Form["first"];
        last = Request.Form["last"];
        password = Request.Form["password"];
        role = Request.Form["role"];

        Response.Cookies["email"].Value = email;



        // Check if user account already exists based on email and password
        var userExists = db.QueryValue("SELECT EmailAddress, Password FROM dbo.People WHERE EmailAddress ='" + email + "' AND Password = '" + password + "'");

        //if the executed query returns false then display error and do not proceed to login
        if (userExists != null)
        {
            if (!Response.IsRequestBeingRedirected)
            {
                Response.Redirect("Index");
            }
        }
        else
        {
            //Sends browser to userdashboard
            Response.Redirect("UserDashboard");


            //Inserts user into table
            var insertQuery = "INSERT INTO dbo.People(EmailAddress, FirstName, LastName, Password, Role) " +
            "VALUES (@0, @1, @2, @3, @4)";
            db.Execute(insertQuery, email, first, last, password, role);
        }

    }
}

<div class="box loginBox">
    <h2>Create Account</h2>

    <form method="post">
        <p>First Name</p>
        <input type="text" name="first" class="input-account" placeholder="Enter First Name..." value="@Request.Form["first"]">
        <p>Last Name</p>
        <input type="text" name="last" class="input-account" placeholder="Enter Last Name..." value="@Request.Form["last"]"><br />

        <p>Email</p>
        <input type="text" name="email" class="input-account" placeholder="Enter email..." value="@Request.Form["email"]">
        <p>Password</p>
        <input type="password" name="password" class="input-account" placeholder="Enter password..." value="@Request.Form["password"]">

        <label class="radio-inline">
            <input type="radio" name="role" value="student">Student
        </label>
        <label class="radio-inline">
            <input type="radio" name="role" value="professor">Professor
        </label>

        <br /><br />
        <input type="submit" class="btn submit" name="login" value="Create Account">

    </form>

</div>


