<div id="group"  ng-cloak>
    <div class="row position-relative">
        <h4 class="mt-3 col-sm-9 col-12 float-left"><input class="input-header" type="text" name="groupName" ng-model-options="{debounce: 750}" ng-change="saveGroup()" ng-model="group.groupName" ng-class="{'input-header-admin': ($parent.user.type === 'A' || userInGroup() || $parent.user.type === 'I')}"
                                                           ng-readonly="$parent.user.type !== 'A' && !userInGroup() && $parent.user.type !== 'I'"/></h4>
        <div class="mt-3 pretty p-switch p-slim col-sm-2 col-12 header-checkbox" ng-if="$parent.user.type === 'A' || $parent.user.type === 'I'">
            <input type="checkbox" ng-model="group.isActive" ng-change="saveGroup()" />
            <div class="mt-2 state float-right">
                <label>Active</label>
            </div>
        </div>
    </div>


    <div class="row mt-4">
        <div class="col-sm-6 col-md-5 col-lg-4 col-12">
            <canvas id="groupHours" width="400" height="400"></canvas>
        </div>


        <div class="col-sm col-12">
            <div class="position-relative">
                <h5>Users</h5>
                <div class="float-right top-right-buttons">
                    <button class="btn btn-primary" ng-click="joinGroup()" ng-if="!userInGroup() || !group.users[$parent.user.userID].isActive">Join</button>
                    <button class="btn btn-danger" ng-click="leaveGroup()" ng-if="userInGroup() && group.users[$parent.user.userID].isActive">Leave</button>
                </div>
            </div>

            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-2" ng-repeat="u in group.users" ng-if="userInGroup() && u.userID === $parent.user.userID">{{u.firstName}} {{u.lastName}} <span ng-if="!u.isActive" class="text-danger">(Left Group)</span></li>
                    <li class="list-group-item p-2" ng-repeat="u in group.users | orderObjectBy :'firstName'" ng-if="u.userID !== $parent.user.userID || !userInGroup()">{{u.firstName}} {{u.lastName}} <span ng-if="!u.isActive" class="text-danger">(Left Group)</span></li>
                </ul>
            </div>
            <div>
                <button class="btn btn-primary mt-2" ng-click="completeEval()" ng-if="userInGroup()">Complete Eval</button>
                <button class="btn btn-primary mt-2" ng-click="viewEvals()" ng-if="userInGroup() || $parent.user.type === 'A' || $parent.user.type === 'I'">View Evals</button>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 mb-2">
            <button class="btn btn-success" ng-click="startTime()" ng-if="userActiveInGroup() && !hasUnfinishedBusiness()">Start Time</button>
            <button class="btn btn-warning" ng-click="endTime()" ng-if="userActiveInGroup() && hasUnfinishedBusiness()">End Time</button>
        </div>
        <!-- The current user on top if they are in the group -->
        <div class="col-12 mb-2" ng-if="userInGroup() && u.userID === $parent.user.userID" ng-repeat="u in group.users">
            <div class="card position-relative">
                <div class="card-header font-weight-bold py-1 px-3">{{u.firstName}} {{u.lastName}} <span ng-if="!u.isActive" class="text-danger">(Left Group)</span></div>
                <!--<i class="fa fa-plus mt-2 mr-2 my-auto card-button" ng-click="createTime(u.userID)" ng-if="isUser(u.userID)" title="Create a new time entry."></i>-->
                <div class="card-body p-0">
                    <table class="full-width table-striped">
                        <thead>
                            <tr class="row no-gutters ml-3 mr-1">
                                <th scope="col" class="col col-md-4 col-lg">Time<span class="d-none d-lg-inline"> In</span></th>
                                <th scope="col" class="col d-none d-lg-table-cell col-lg">Time Out</th>
                                <th scope="col" class="col d-none d-sm-table-cell col-lg-6">Description</th>
                                <th scope="col" class="hours-col">Hours</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Blank row -->
                            <tr class="row no-gutters pt-1" style="border-top: 1px lightgray solid;" ng-if="isUser(u.userID)">
                                <td class="col col-md-4 col-lg pr-1 container">
                                    <div class="row d-lg-none">
                                        <span class="col-2 pr-0 text-right">In</span>
                                        <div class="input-group date timeslot col mb-1 pl-1" id="datetimepicker-blank-{{u.userID}}-in" data-target-input="nearest">
                                            <input class="full-width form-control datetimepicker-input py-0 px-1 date-text" type="text" data-target="#datetimepicker-blank-{{u.userID}}-in" ng-model="u.blank.timeIn"
                                                   ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))" ng-model-options="{updateOn: 'blur', debounce: 750}" ng-change="createTimeFromBlank(u.userID)" />
                                            <div class="input-group-append" data-target="#datetimepicker-blank-{{u.userID}}-in" data-toggle="datetimepicker">
                                                <div class="input-group-text px-2 py-1"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row d-lg-none">
                                        <span class="col-2 pr-0 text-right">Out</span>
                                        <div class="input-group date timeslot col mb-1 pl-1" id="datetimepicker-blank-{{u.userID}}-out" data-target-input="nearest">
                                            <input class="full-width form-control datetimepicker-input py-0 px-1 date-text" type="text" data-target="#datetimepicker-blank-{{u.userID}}-out" ng-model="u.blank.timeOut"
                                                   ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))" ng-model-options="{updateOn: 'blur', debounce: 750}" />
                                            <div class="input-group-append" data-target="#datetimepicker-blank-{{u.userID}}-out" data-toggle="datetimepicker">
                                                <div class="input-group-text px-2 py-1"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-none d-lg-block">
                                        <div class="input-group date timeslot col mb-1 pl-1 pr-0" id="datetimepicker-blank-{{u.userID}}-in-lg" data-target-input="nearest">
                                            <input class="full-width form-control datetimepicker-input py-0 px-1 date-text" type="text" data-target="#datetimepicker-blank-{{u.userID}}-in-lg" ng-model="u.blank.timeIn"
                                                   ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))" ng-model-options="{updateOn: 'blur', debounce: 750}" ng-change="createTimeFromBlank(u.userID)" />
                                            <div class="input-group-append" data-target="#datetimepicker-blank-{{u.userID}}-in-lg" data-toggle="datetimepicker">
                                                <div class="input-group-text px-2 py-1"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="d-none d-lg-table-cell col-lg">
                                    <div>
                                        <div class="input-group date timeslot col mb-1 pr-1 pl-0" id="datetimepicker-blank-{{u.userID}}-out-lg" data-target-input="nearest">
                                            <input class="full-width form-control datetimepicker-input py-0 px-1 date-text" type="text" data-target="#datetimepicker-blank-{{u.userID}}-out-lg" ng-model="u.blank.timeOut"
                                                   ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))" ng-model-options="{updateOn: 'blur', debounce: 750}"/>
                                            <div class="input-group-append" data-target="#datetimepicker-blank-{{u.userID}}-out-lg" data-toggle="datetimepicker">
                                                <div class="input-group-text px-2 py-1"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </td> 
                                <td class="col pr-1 d-none d-sm-table-cell col-lg-6">
                                    <textarea class="full-width form-control date-text description-textarea" ng-model="u.blank.description" ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))"
                                              ng-model-options="{updateOn: 'blur', debounce: 750}" ng-change="createTimeFromBlank(u.userID)" placeholder="Description"></textarea>
                                </td>
                                <td class="pr-1 hours-col" style="position:relative;">
                                    <!--<span style="position: absolute;">{{u.blank.hours = diffHours(u.blank.timeIn, u.blank.timeOut)}}</span>
                                    <i class="fa fa-pencil edited-icon" ng-if="u.blank.isEdited" title="This time entry has been edited."></i>-->
                                </td>
                                <td class="d-sm-none col-12 pr-4 mb-1">
                                    <div class="row">
                                        <span class="col-2 pr-0 text-right">Desc&nbsp;</span>
                                        <textarea class="full-width form-control date-text description-textarea col" ng-model="u.blank.description" ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))"
                                                  ng-model-options="{updateOn: 'blur', debounce: 750}" ng-change="createTimeFromBlank(u.userID)" placeholder="Description"></textarea>
                                    </div>
                                </td>
                            </tr>

                            <tr ng-repeat="t in u.timecards | orderObjectBy :'timeslotID':true" class="row no-gutters pt-1" style="border-top: 1px lightgray solid;">
                                <td class="col col-md-4 col-lg pr-1 container">
                                    <div class="row d-lg-none">
                                        <span class="col-2 pr-0 text-right">In</span>
                                        <div class="input-group date timeslot col mb-1 pl-1" id="datetimepicker-{{t.timeslotID}}-in" data-target-input="nearest">
                                            <input class="full-width form-control datetimepicker-input py-0 px-1 date-text" type="text" data-target="#datetimepicker-{{t.timeslotID}}-in" ng-model="t.timeIn"
                                                   ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))" ng-model-options="{updateOn: 'blur', debounce: 750}" ng-change="saveTime(u.userID, t.timeslotID)" />
                                            <div class="input-group-append" data-target="#datetimepicker-{{t.timeslotID}}-in" data-toggle="datetimepicker">
                                                <div class="input-group-text px-2 py-1"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row d-lg-none">
                                        <span class="col-2 pr-0 text-right">Out</span>
                                        <div class="input-group date timeslot col mb-1 pl-1" id="datetimepicker-{{t.timeslotID}}-out" data-target-input="nearest">
                                            <input class="full-width form-control datetimepicker-input py-0 px-1 date-text" type="text" data-target="#datetimepicker-{{t.timeslotID}}-out" ng-model="t.timeOut"
                                                   ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))" ng-model-options="{updateOn: 'blur', debounce: 750}" ng-change="saveTime(u.userID, t.timeslotID)" />
                                            <div class="input-group-append" data-target="#datetimepicker-{{t.timeslotID}}-out" data-toggle="datetimepicker">
                                                <div class="input-group-text px-2 py-1"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-none d-lg-block">
                                        <div class="input-group date timeslot col mb-1 pl-1 pr-0" id="datetimepicker-{{t.timeslotID}}-in-lg" data-target-input="nearest">
                                            <input class="full-width form-control datetimepicker-input py-0 px-1 date-text" type="text" data-target="#datetimepicker-{{t.timeslotID}}-in-lg" ng-model="t.timeIn"
                                                   ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))" ng-model-options="{updateOn: 'blur', debounce: 750}" ng-change="saveTime(u.userID, t.timeslotID)" />
                                            <div class="input-group-append" data-target="#datetimepicker-{{t.timeslotID}}-in-lg" data-toggle="datetimepicker">
                                                <div class="input-group-text px-2 py-1"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="d-none d-lg-table-cell col-lg">
                                    <div>
                                        <div class="input-group date timeslot col mb-1 pl-0 pr-1" id="datetimepicker-{{t.timeslotID}}-out-lg" data-target-input="nearest">
                                            <input class="full-width form-control datetimepicker-input py-0 px-1 date-text" type="text" data-target="#datetimepicker-{{t.timeslotID}}-out-lg" ng-model="t.timeOut"
                                                   ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))" ng-model-options="{updateOn: 'blur', debounce: 750}" ng-change="saveTime(u.userID, t.timeslotID)" />
                                            <div class="input-group-append" data-target="#datetimepicker-{{t.timeslotID}}-out-lg" data-toggle="datetimepicker">
                                                <div class="input-group-text px-2 py-1"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="col pr-1 d-none d-sm-table-cell col-lg-6">
                                    <textarea class="full-width form-control date-text description-textarea" ng-model="t.description" ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))"
                                              ng-model-options="{debounce: 750}" ng-change="saveTime(u.userID, t.timeslotID)" placeholder="Description"></textarea>
                                </td>
                                <td class="pr-1 hours-col" style="position:relative;">
                                    <span style="position: absolute;">{{t.hours = diffHours(t.timeIn, t.timeOut)}}</span>
                                    <i class="fa fa-pencil edited-icon" ng-if="t.isEdited" title="This time entry has been edited."></i>
                                </td>
                                <td class="d-sm-none col-12 pr-4 mb-1">
                                    <div class="row">
                                        <span class="col-2 pr-0 text-right">Desc&nbsp;</span>
                                        <textarea class="full-width form-control date-text description-textarea col" ng-model="t.description" ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))"
                                                  ng-model-options="{debounce: 750}" ng-change="saveTime(u.userID, t.timeslotID)" placeholder="Description"></textarea>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- The rest of the users if the current user is in the group, or all the users if they aren't -->
        
        <div class="col-12 mb-2" ng-repeat="u in group.users | orderObjectBy :'firstName'" ng-if="u.userID !== $parent.user.userID || !userInGroup()">
            <div class="card position-relative">
                <div class="card-header font-weight-bold py-1 px-3">{{u.firstName}} {{u.lastName}} <span ng-if="!u.isActive" class="text-danger">(Left Group)</span></div>
                <div class="card-body p-0">
                    <table class="full-width table-striped">
                        <thead>
                            <tr class="row no-gutters ml-3 mr-1">
                                <th scope="col" class="col col-md-4 col-lg">Time<span class="d-none d-lg-inline"> In</span></th>
                                <th scope="col" class="col d-none d-lg-table-cell col-lg">Time Out</th>
                                <th scope="col" class="col d-none d-sm-table-cell col-lg-6">Description</th>
                                <th scope="col" class="hours-col">Hours</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row no-gutters pt-1" style="border-top: 1px lightgray solid;" ng-if="isUser(u.userID)">
                                <td class="col col-md-4 col-lg pr-1 container">
                                    <div class="row d-lg-none">
                                        <span class="col-2 pr-0 text-right">In</span>
                                        <div class="input-group date timeslot col mb-1 pl-1" id="datetimepicker-blank-{{u.userID}}-in" data-target-input="nearest">
                                            <input class="full-width form-control datetimepicker-input py-0 px-1 date-text" type="text" data-target="#datetimepicker-blank-{{u.userID}}-in" ng-model="u.blank.timeIn"
                                                   ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))" ng-model-options="{updateOn: 'blur', debounce: 750}" ng-change="createTimeFromBlank(u.userID)" />
                                            <div class="input-group-append" data-target="#datetimepicker-blank-{{u.userID}}-in" data-toggle="datetimepicker">
                                                <div class="input-group-text px-2 py-1"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row d-lg-none">
                                        <span class="col-2 pr-0 text-right">Out</span>
                                        <div class="input-group date timeslot col mb-1 pl-1" id="datetimepicker-blank-{{u.userID}}-out" data-target-input="nearest">
                                            <input class="full-width form-control datetimepicker-input py-0 px-1 date-text" type="text" data-target="#datetimepicker-blank-{{u.userID}}-out" ng-model="u.blank.timeOut"
                                                   ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))" ng-model-options="{updateOn: 'blur', debounce: 750}"/>
                                            <div class="input-group-append" data-target="#datetimepicker-blank-{{u.userID}}-out" data-toggle="datetimepicker">
                                                <div class="input-group-text px-2 py-1"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-none d-lg-block">
                                        <div class="input-group date timeslot col mb-1 pl-1 pr-0" id="datetimepicker-blank-{{u.userID}}-in-lg" data-target-input="nearest">
                                            <input class="full-width form-control datetimepicker-input py-0 px-1 date-text" type="text" data-target="#datetimepicker-blank-{{u.userID}}-in-lg" ng-model="u.blank.timeIn"
                                                   ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))" ng-model-options="{updateOn: 'blur', debounce: 750}" ng-change="createTimeFromBlank(u.userID)" />
                                            <div class="input-group-append" data-target="#datetimepicker-blank-{{u.userID}}-in-lg" data-toggle="datetimepicker">
                                                <div class="input-group-text px-2 py-1"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="col d-none d-lg-table-cell col-lg">
                                    <div>
                                        <div class="input-group date timeslot col mb-1 pl-0 pr-1" id="datetimepicker-blank-{{u.userID}}-out-lg" data-target-input="nearest">
                                            <input class="full-width form-control datetimepicker-input py-0 px-1 date-text" type="text" data-target="#datetimepicker-blank-{{u.userID}}-out-lg" ng-model="u.blank.timeOut"
                                                   ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))" ng-model-options="{updateOn: 'blur', debounce: 750}"/>
                                            <div class="input-group-append" data-target="#datetimepicker-blank-{{u.userID}}-out-lg" data-toggle="datetimepicker">
                                                <div class="input-group-text px-2 py-1"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="col pr-1 d-none d-sm-table-cell col-lg-6">
                                    <textarea class="full-width form-control date-text description-textarea" ng-model="u.blank.description" ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))"
                                              ng-model-options="{updateOn: 'blur', debounce: 750}" ng-change="createTimeFromBlank(u.userID)" placeholder="Description"></textarea>
                                </td>
                                <td class="pr-1 hours-col" style="position:relative;">
                                </td>
                                <td class="d-sm-none col-12 pr-4 mb-1">
                                    <div class="row">
                                        <span class="col-2 pr-0 text-right">Desc&nbsp;</span>
                                        <textarea class="full-width form-control date-text description-textarea col" ng-model="u.blank.description" ng-readonly="!isUser(u.userID) || (!u.isActive && !($parent.user.type === 'A' || $parent.user.type === 'I'))"
                                                  ng-model-options="{updateOn: 'blur', debounce: 750}" ng-change="createTimeFromBlank(u.userID)" placeholder="Description"></textarea>
                                    </div>
                                </td>
                            </tr>

                            <tr ng-repeat="t in u.timecards | orderObjectBy :'timeslotID':true" class="row no-gutters pt-1" style="border-top: 1px lightgray solid;">
                                <td class="col col-md-4 col-lg pr-1 container">
                                    <div class="row d-lg-none">
                                        <span class="col-2 pr-0 text-right">In</span>
                                        <div class="input-group date timeslot col mb-1 pl-1" id="datetimepicker-{{t.timeslotID}}-in" data-target-input="nearest">
                                            <input class="full-width form-control datetimepicker-input py-0 px-1 date-text" type="text" data-target="#datetimepicker-{{t.timeslotID}}-in" ng-model="t.timeIn"
                                                   ng-readonly="!isUser(u.userID)" ng-model-options="{updateOn: 'blur', debounce: 750}" ng-change="saveTime(u.userID, t.timeslotID)" />
                                            <div class="input-group-append" data-target="#datetimepicker-{{t.timeslotID}}-in" data-toggle="datetimepicker">
                                                <div class="input-group-text px-2 py-1"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row d-lg-none">
                                        <span class="col-2 pr-0 text-right">Out</span>
                                        <div class="input-group date timeslot col mb-1 pl-1" id="datetimepicker-{{t.timeslotID}}-out" data-target-input="nearest">
                                            <input class="full-width form-control datetimepicker-input py-0 px-1 date-text" type="text" data-target="#datetimepicker-{{t.timeslotID}}-out" ng-model="t.timeOut"
                                                   ng-readonly="!isUser(u.userID)" ng-model-options="{updateOn: 'blur', debounce: 750}" ng-change="saveTime(u.userID, t.timeslotID)" />
                                            <div class="input-group-append" data-target="#datetimepicker-{{t.timeslotID}}-out" data-toggle="datetimepicker">
                                                <div class="input-group-text px-2 py-1"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-none d-lg-block">
                                        <div class="input-group date timeslot col mb-1 pl-1 pr-0" id="datetimepicker-{{t.timeslotID}}-in-lg" data-target-input="nearest">
                                            <input class="full-width form-control datetimepicker-input py-0 px-1 date-text" type="text" data-target="#datetimepicker-{{t.timeslotID}}-in-lg" ng-model="t.timeIn"
                                                   ng-readonly="!isUser(u.userID)" ng-model-options="{updateOn: 'blur', debounce: 750}" ng-change="saveTime(u.userID, t.timeslotID)" />
                                            <div class="input-group-append" data-target="#datetimepicker-{{t.timeslotID}}-in-lg" data-toggle="datetimepicker">
                                                <div class="input-group-text px-2 py-1"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="d-none d-lg-table-cell col-lg">
                                    <div>
                                        <div class="input-group date timeslot col mb-1 pl-0 pr-1" id="datetimepicker-{{t.timeslotID}}-out-lg" data-target-input="nearest">
                                            <input class="full-width form-control datetimepicker-input py-0 px-1 date-text" type="text" data-target="#datetimepicker-{{t.timeslotID}}-out-lg" ng-model="t.timeOut"
                                                   ng-readonly="!isUser(u.userID)" ng-model-options="{updateOn: 'blur', debounce: 750}" ng-change="saveTime(u.userID, t.timeslotID)" />
                                            <div class="input-group-append" data-target="#datetimepicker-{{t.timeslotID}}-out-lg" data-toggle="datetimepicker">
                                                <div class="input-group-text px-2 py-1"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="col pr-1 d-none d-sm-table-cell col-lg-6">
                                    <textarea class="full-width form-control date-text description-textarea" ng-model="t.description" ng-readonly="!isUser(u.userID)" placeholder="Description"
                                              ng-model-options="{debounce: 750}" ng-change="saveTime(u.userID, t.timeslotID)"></textarea>
                                </td>
                                <td class="pr-1 hours-col" style="position:relative;">
                                    <span style="position: absolute;">{{t.hours = diffHours(t.timeIn, t.timeOut)}}</span>
                                    <i class="fa fa-pencil edited-icon" ng-if="t.isEdited" title="This time entry has been edited."></i>
                                </td>
                                <td class="d-sm-none col-12 pr-4 mb-1">
                                    <div class="row">
                                        <span class="col-2 pr-0 text-right">Desc&nbsp;</span>
                                        <textarea class="full-width form-control date-text description-textarea col" ng-model="t.description" ng-readonly="!isUser(u.userID)" placeholder="Description"
                                                  ng-model-options="{debounce: 750}" ng-change="saveTime(u.userID, t.timeslotID)"></textarea>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>