<div id="manageEvals" ng-cloak>
    <div class="row position-relative">
        <h3 class="mt-3">Manage Evaluations</h3>
        <div class="mt-2 position-absolute" style="top: 15px; right: 15px;">
            <button class="btn btn-primary" ng-click="createBlankEvaluation()">Create Evaluation</button>
        </div>
    </div>
    

    <div class="row">
        <div class="input-group col-12 col-md-6 mt-2" ng-if="$parent.user.type === 'A'">
            <div class="input-group-prepend">
                <label class="input-group-text" for="instructor">Instructor</label>
            </div>
            <select class="custom-select" id="instructor" ng-model="config.instructorID" ng-change="loadTemplates()">
                <option ng-repeat="i in instructors | orderObjectBy : 'firstName' | filter: {isActive: true}" value="{{i.userID}}" selected>{{i.firstName}} {{i.lastName}}</option>
            </select>
        </div>
        <div class="input-group col-12 col-md-6 mt-2">
            <div class="input-group-prepend">
                <label class="input-group-text" for="template">Template</label>
            </div>
            <select class="custom-select" id="template" ng-model="config.currentTemplate"
                    ng-options="t.evalTemplateID as t.templateName for t in evaluations | orderObjectBy : 'templateName'">
            </select>
        </div>
    </div>

    <div class="row" ng-if="!hasEvaluationTemplates()">
        <h4 class="mx-auto mt-4">You don't have any templates, create a new one above.</h4>
    </div>

    <div class="row" ng-if="hasEvaluationTemplates()">
        <div class="input-group col-12 col-md-6 mt-2">
            <div class="input-group-prepend">
                <label class="input-group-text" for="templateName">Template Name</label>
            </div>
            <input type="text" class="form-control" id="templateName" ng-model="evaluations[config.currentTemplate].templateName"
                    ng-model-options="{debounce: 750}" ng-change="saveTemplateName(evaluations[config.currentTemplate])"/>
        </div>
        <div class="col-12 col-md-6 mt-2 text-center" ng-if="evaluations[config.currentTemplate].inUse">
            <h4 class="text-danger">In Use - Cannot Be Edited</h4>
        </div>
    </div>


    <div class="mt-4 table-responsive" ng-if="hasEvaluationTemplates()">

        <table class="table table-condensed">
            <thead class="thead-light">
                <tr>
                    <th style="width: 225px; min-width: 150px;">Category/Question</th>
                    <th style="min-width: 150px;">Options
                        <button class="btn btn-primary float-right" ng-click="addQuestion(0)" ng-disabled="evaluations[config.currentTemplate].inUse">New Question</button>
                        <button class="btn btn-primary float-right mr-2" ng-click="createCategory()" ng-disabled="evaluations[config.currentTemplate].inUse">New Category</button>
                    </th>
                </tr>
            </thead>
            <tbody id="noCategoryQuestions">
                <tr ng-repeat="tq in evaluations[config.currentTemplate].templateQuestions | orderObjectBy : 'number' | filter: {evalTemplateQuestionCategoryID: 0}">
                    <td class="border-right"><textarea class="h-100 w-100" placeholder="Question Text" ng-model="tq.questionText" ng-disabled="evaluations[config.currentTemplate].inUse"
                                                       ng-model-options="{debounce: 750}" ng-change="saveQuestion(tq)"></textarea></td>
                    <td class="align-middle border-right">
                        <select ng-model="tq.questionType" title="Question Type" ng-disabled="evaluations[config.currentTemplate].inUse"
                                ng-change="saveQuestion(tq)">
                            <option value="N">Number 0-5</option>
                            <option value="R">Short Reponse</option>
                        </select>
                        <input type="number" style="height: 22px; width: 50px;" ng-model="tq.number" title="Order Number" ng-disabled="evaluations[config.currentTemplate].inUse" 
                               ng-model-options="{debounce: 750}" ng-change="saveQuestion(tq)"/>
                        <select ng-model="tq.evalTemplateQuestionCategoryID" title="Category" ng-disabled="evaluations[config.currentTemplate].inUse"
                                ng-options="c.evalTemplateQuestionCategoryID as c.categoryName for c in evaluations[config.currentTemplate].categories"
                                ng-change="saveQuestion(tq)">
                        </select>
                        <button class="btn btn-danger float-right" ng-click="deleteQuestion(tq)" ng-disabled="evaluations[config.currentTemplate].inUse">Delete</button>
                    </td>
                </tr>
            </tbody>
            <tbody ng-repeat="c in evaluations[config.currentTemplate].categories" ng-if="c.evalTemplateQuestionCategoryID > 0">
                <tr style="background-color: ghostwhite;">
                    <th class="border-right"><input class="font-weight-bold" type="text" ng-model="c.categoryName" ng-disabled="evaluations[config.currentTemplate].inUse" 
                                                    ng-model-options="{debounce: 750}" ng-change="saveCategory(c)"/></th>
                    <td>
                        <button class="btn btn-danger float-right" ng-click="deleteCategory(c)" ng-disabled="evaluations[config.currentTemplate].inUse">Delete</button>
                        <button class="btn btn-primary float-right mr-2" ng-click="addQuestion(c.evalTemplateQuestionCategoryID)" ng-disabled="evaluations[config.currentTemplate].inUse">New Question</button>
                    </td>
                </tr>
                <tr ng-repeat="tq in evaluations[config.currentTemplate].templateQuestions | orderObjectBy : 'number' | filter: {evalTemplateQuestionCategoryID: c.evalTemplateQuestionCategoryID}"
                    ng-if="c.evalTemplateQuestionCategoryID > 0">
                    <td class="border-right"><textarea class="h-100 w-100" placeholder="Question Text" ng-model="tq.questionText" ng-disabled="evaluations[config.currentTemplate].inUse"
                                                       ng-model-options="{debounce: 750}" ng-change="saveQuestion(tq)"></textarea></td>
                    <td class="align-middle border-right">
                        <select ng-model="tq.questionType" title="Question Type" ng-disabled="evaluations[config.currentTemplate].inUse"
                                ng-change="saveQuestion(tq)">
                            <option value="N">Number 0-5</option>
                            <option value="R">Short Reponse</option>
                        </select>
                        <input type="number" style="height: 22px; width: 50px;" ng-model="tq.number" title="Order Number" ng-disabled="evaluations[config.currentTemplate].inUse" 
                               ng-model-options="{debounce: 750}" ng-change="saveQuestion(tq)"/>
                        <select ng-model="tq.evalTemplateQuestionCategoryID" title="Category" ng-disabled="evaluations[config.currentTemplate].inUse"
                                ng-options="c.evalTemplateQuestionCategoryID as c.categoryName for c in evaluations[config.currentTemplate].categories"
                                ng-change="saveQuestion(tq)">
                        </select>
                        <button class="btn btn-danger float-right" ng-click="deleteQuestion(tq)" ng-disabled="evaluations[config.currentTemplate].inUse">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>