<div id="users" ng-cloak>
    <div class="position-relative">
        <h3 class="mt-3">Users</h3>
        <input class="bottom-right-search" type="text" name="search" placeholder="Search..." ng-model="search" />
    </div>
    <div ng-if="!users">
        <h4>There are not any users... IT'S BROKEN!</h4>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th class="text-center">Active</th>
                <th class="text-center">Type</th>
            </tr>
        </thead>
        <tbody ng-repeat="u in users | orderObjectBy : 'firstName' | filter : search">
            <tr>
                <td><a href="/#!/user/{{u.userID}}">{{u.firstName}} {{u.lastName}}</a></td>
                <td>{{u.username}}</td>
                <td class="text-center">
                    <div class="pretty p-default mr-0">
                        <input type="checkbox" ng-model="u.isActive" ng-change="saveUser(u)" />
                        <div class="state p-primary">
                            <label></label>
                        </div>
                    </div>
                </td>
                <td class="text-center">
                    <select ng-model="u.type" ng-change="saveUser(u)">
                        <option value="S">Student</option>
                        <option value="I">Instructor</option>
                        <option value="A">Admin</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</div>