<div id="assignEvals" ng-cloak>
    <h3 class="mt-3">Evaluation Results</h3>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="student">Student</label>
        </div>
        <select class="custom-select" id="student">
            <option value="1" selected>Logan Brown</option>
            <option value="2">Tashi Aguilar</option>
            <option value="3">Steven Bate</option>
            <option value="4">Jeff Garcia</option>
        </select>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="evaluation">Evaluation</label>
        </div>
        <select class="custom-select" id="evaluation" ng-model="config.currentEval">
            <option ng-repeat="e in group.evaluations" value="{{e.evalID}}">Evaluation {{e.number}}</option>
        </select>
    </div>

    <div class="mt-4 table-responsive">

        <table ng-repeat="e in group.evaluations" class="table table-condensed">
            <thead class="thead-light">
                <tr>
                    <th class="sticky-column" style="width: 225px; min-width: 150px;">Evaluation {{e.number}}</th>
                    <th style="min-width: 150px;" ng-repeat="ev in e.evals">{{ev.firstName}} {{ev.lastName}}</th>
                </tr>
            </thead>
            <tbody id="noCategoryQuestions">
                <tr ng-repeat="tq in e.templateQuestions | orderObjectBy : 'number' | filter: {evalTemplateQuestionCategoriesID: 0}">
                    <td class="sticky-column">{{tq.questionText}}</td>
                    <td class="p-0 align-middle border-right" ng-repeat="ev in e.evals">
                        <textarea ng-if="tq.questionType === 'R'" class="response-text" readonly>{{getResponse(e.evalID, ev.evalID, tq.evalTemplateQuestionID)}}</textarea>
                        <input class="text-center w-100 border-0" ng-if="tq.questionType === 'N'" value="{{getResponse(e.evalID, ev.evalID, tq.evalTemplateQuestionID)}}" readonly />
                    </td>
                </tr>
                <!--<tr>
                    <th class="sticky-column">Totals</th>
                    <td class="border-right" ng-repeat="ev in e.evals">
                        Category Total
                    </td>
                </tr>-->
            </tbody>
            <tbody ng-repeat="c in e.categories">
                <tr>
                    <th class="sticky-column">{{c.categoryName}}</th>
                    <td class="border-right" ng-repeat="ev in e.evals">
                        Category Total
                    </td>
                </tr>
                <tr ng-repeat="tq in e.templateQuestions | orderObjectBy : 'number' | filter: {evalTemplateQuestionCategoriesID: c.evalTemplateQuestionCategoriesID}">
                    <td class="pl-3 sticky-column">{{tq.questionText}}</td>
                    <td class="p-0 align-middle border-right" ng-repeat="ev in e.evals">
                        <textarea ng-if="tq.questionType === 'R'" class="response-text" readonly>{{getResponse(e.evalID, ev.evalID, tq.evalTemplateQuestionID)}}</textarea>
                        <input class="text-center w-100 border-0" ng-if="tq.questionType === 'N'" value="{{getResponse(e.evalID, ev.evalID, tq.evalTemplateQuestionID)}}" readonly />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>