.vs/
.vs/time_sucks/v15/Server/sqlite3/storage.ide
.vs/time_sucks/v15/Server/sqlite3/storage.ide
.vs/time_sucks/v15/Server/sqlite3/storage.ide
Natasha_TimeSystem/StudentTimeSheet/StudentTimeSheet/obj/Debug/StudentTimeSheet.csproj.CoreCompileInputs.cache
time_sucks/bin/Debug/netcoreapp2.0/time_sucks.dll
time_sucks/bin/Debug/netcoreapp2.0/time_sucks.pdb
time_sucks/bin/Debug/netcoreapp2.0/time_sucks.runtimeconfig.dev.json
time_sucks/obj/Debug/netcoreapp2.0/time_sucks.csproj.CoreCompileInputs.cache
time_sucks/obj/Debug/netcoreapp2.0/time_sucks.csproj.FileListAbsolute.txt
time_sucks/obj/Debug/netcoreapp2.0/time_sucks.csprojResolveAssemblyReference.cache
time_sucks/obj/Debug/netcoreapp2.0/time_sucks.dll
time_sucks/obj/Debug/netcoreapp2.0/time_sucks.pdb
time_sucks/obj/project.assets.json
time_sucks/obj/time_sucks.csproj.nuget.cache
time_sucks/obj/time_sucks.csproj.nuget.g.props
time_sucks/obj/time_sucks.csproj.nuget.g.targets
*.ide
*.cache
time_sucks/obj/Debug/netcoreapp2.0/time_sucks.AssemblyInfo.cs
time_sucks/bin/Debug/netcoreapp2.0/time_sucks.runtimeconfig.json
time_sucks/bin/Debug/netcoreapp2.0/time_sucks.deps.json
