body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar-text-color {
    color: #18BC9C;
}

.form-control:focus {
    outline: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.big-button {
    font-size: 35px;
    cursor: pointer;
    color: #2d3d50;
    position: absolute;
    right: -8px;
    top: 25px;
}

.small-button {
    font-size: 30px;
    cursor: pointer;
    color: #2d3d50;
    position: absolute;
    right: -8px;
    top: 0;
}

.card-button {
    font-size: 30px;
    cursor: pointer;
    color: #2d3d50;
    position: absolute;
    right: 3px;
    top: 8px;
}

.input-header {
    border: none;
    width: 100%;
}

.top-right-checkbox {
    position: absolute;
    bottom: 3px;
    right: -27px;
}

.header-checkbox {
    position: absolute;
    right: -15px;
}

.top-right-buttons {
    position: absolute;
    bottom: 0;
    right: 10px;
}
.timeslot-input {
    width: 33%;
}

.full-width {
    width: 100%;
}

.is-edited {
    color: #fd7e14;
}
.group-name {
    font-size: 1.2em;
}
.project-name {
    font-size: 1em;
}
.course-name{
    font-size: 0.8em;
}
.instructor-name{
    font-size: 0.8em;
}

.navbar-icon {
    color: #18BC9C;
    font-size: 25px;
    vertical-align: middle;
}

.notification-menu {
    display: inline-block
}

.notification-menu-button {
    background: none;
}

.notification-text {
    text-align: center;
    height: 30px;
}

.notification-badge {
    position: absolute !important;
    right: 0px;
    top: 25px !important;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
    min-width: 300px;
}

.clickable {
    cursor: pointer;
}