body {
    padding-bottom: 20px;
}

a {
    color: #0B6552;
    text-decoration: underline;
}

.pretty input:checked ~ .state.p-primary label:after, .pretty.p-toggle .state.p-primary label:after {
    background-color: #2c3e50 !important;
}

nav a {
    color: #18BC9C;
    text-decoration: none;
}

    /* Wrapping element */
    /* Set some basic padding to keep content from hitting the edges */
    .body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.card-list-link {
    display: block;
    
}

.card-list-link:hover {
    background-color: whitesmoke;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* lg+ */
@media (min-width: 992px) {
    .description-textarea{
        height: 25px;
    }

    .hours-col {
        width: 60px;
    }

    .edited-icon {
        top: 4px;
        right: 4px;
    }
}

@media (max-width: 991px) {
    .description-textarea {
        height: 53px;
        line-height: 1.2;
    }

    .hours-col {
        width: 44px;
    }

    .edited-icon {
        top: 33px;
        left: 10px;
    }
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

@media screen and (max-width: 575px) {

    .header-checkbox {
        bottom: -13px;
    }

}


    .navbar-text-color {
        color: #18BC9C;
    }

    .form-control:focus {
        outline: 0;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    .big-button {
        font-size: 30px;
        cursor: pointer;
        color: #2d3d50;
    }

    .small-button {
        font-size: 30px;
        cursor: pointer;
        color: #2d3d50;
        position: absolute;
        right: -8px;
        top: 0;
    }

    .card-button {
        font-size: 30px;
        cursor: pointer;
        color: #2d3d50;
        position: absolute;
        right: 3px;
        top: 1px;
    }

    .input-header {
        border: none;
        width: 100%;
    }

    .top-right-checkbox {
        position: absolute;
        bottom: 3px;
        right: -27px;
    }

    .header-checkbox {
        position: absolute;
        right: -15px;
    }

    .top-right-buttons {
        position: absolute;
        bottom: 0;
        right: 10px;
    }

    .timeslot-input {
        width: 33%;
    }

    .full-width {
        width: 100%;
    }

    .is-edited {
        color: #fd7e14 !important;
    }

    .group-name {
        font-size: 1.2em;
    }

    .project-name {
        font-size: 1em;
    }

    .course-name {
        font-size: 1em;
    }

    .instructor-name {
        font-size: 1em;
    }

    .navbar-icon {
        color: #18BC9C;
        font-size: 25px;
        vertical-align: middle;
    }

    .notification-menu {
        display: inline-block
    }

    .notification-menu-button {
        background: none;
    }

    .notification-text {
        text-align: center;
        height: 30px;
    }

    .notification-badge {
        position: absolute !important;
        right: 0px;
        top: 25px !important;
    }

    .dropdown-menu-right {
        right: 0;
        left: auto;
        min-width: 300px;
    }

    .clickable {
        cursor: pointer;
    }

    .inactive-user {
        background-color: whitesmoke;
    }

    .date-text {
        font-size: .9em;
    }

    .bottom-right-search {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .form-control {
        color: black;
    }

    .description-textarea {
        padding: 0px 3px;
    }

    .form-control:disabled, .form-control[readonly] {
        background-color: #e8e8e8;
        opacity: 1;
    }

    .form-control:focus {
        color: black;
    }

    .edited-icon {
        position: absolute;
        color: gray;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f8f8f8;
    }

    .delete-user-button {
        font-size: 20px;
        position: absolute;
        right: 50px;
        top: 5px;
        color: #E74C3C;
    }