<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CS 3750 Time Tracker</title>

    <link rel="stylesheet" href="~/lib/bootstrap4/bootswatch-flatly.css">
    <link href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body ng-app="time" ng-controller="MasterCtrl">
    <nav class="navbar navbar-expand bg-primary">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Time</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fa fa-bars navbar-text-color" style="font-size:30px;"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" ng-cloak ng-if="user">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" ng-class="{active: location === '/dashboard'}">
                    <a class="nav-link" href="/#!/dashboard">Dashboard</a>
                </li>
                <li class="nav-item" ng-class="{active: location === '/courses'}">
                    <a class="nav-link" href="/#!/courses">Courses</a>
                </li>
                <li class="nav-item" ng-class="{active: location === '/users'}" ng-cloak ng-if="user.isInstructor">
                    <a class="nav-link" href="/#!/users">Users</a>
                </li>
            </ul>
        </div>
        <div class="my-2 my-lg-0" ng-cloak ng-if="user">

            <!-- TODO: Remove Instructor Toggle -->
            @*<div class="pretty p-switch p-slim navbar-text-color">
                <input type="checkbox" ng-model="user.isInstructor" ng-change="updateUser()" />
                <div class="mr-3 state">
                    <label>Instructor</label>
                </div>
            </div>*@
            <!---->
            <span class="mr-2 navbar-text-color"><a href="/#!/user/{{user._id}}">{{user.firstName}} {{user.lastName}}</a></span>
            <button class="btn btn-default my-2 my-sm-0" ng-click="logout()">Logout</button>
        </div>
    </nav>
    <div class="container body-content">
        @*@RenderBody*@
        @{ IgnoreBody(); }

        <div ng-view></div> <!-- Viewport for Angular -->
    </div>

    <!-- Libraries -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap4/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="~/js/unsavedChanges.min.js"></script>
    <script src="~/js/cookies.js"></script>

    <!-- Angular Scripts -->
    <script src="~/js/app.js"></script>
    <script src="~/js/course.controller.js"></script>
    <script src="~/js/courses.controller.js"></script>
    <script src="~/js/dashboard.controller.js"></script>
    <script src="~/js/group.controller.js"></script>
    <script src="~/js/login.controller.js"></script>
    <script src="~/js/master.controller.js"></script>
    <script src="~/js/project.controller.js"></script>
    <script src="~/js/register.controller.js"></script>
    <script src="~/js/users.controller.js"></script>
    <script src="~/js/user.controller.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
